
/* Navbar Start */

.navbar-brand{
    font-family: 'Abril Fatface';
    font-size: 22px;
    margin-left: 5px;
}
.navbar-nav{
    margin-left: 100px;
}
.link{
    margin-left: 15px;
}
.nav-link{
    font-family: 'Allerta';
    font-weight: bold;
}
.amount{
    margin-left: 200px;
}
.dropdown{
    margin-left: 30px;
}
.record{
    margin-left: 40px;
    margin-top: 5px;
}
.icon{
    padding: 8px;
    color: rgb(247, 247, 108);
}
.connect-wallet{
    width: 200px;
}
/* Navbar End */
/* 1st section start */
.portfolio{
    margin-top: 10px;
}
.eye{
    color: green;
    margin-left: 5px;
}
.platform{
    margin-left:1050px;
    margin-top: 10px;
}
/* 1st section end */
/* 2st section Start */
.account-div{
    margin-top: 25px;
}
.account{
    margin-left: 60px;
}
.info{
    color: rgb(224, 168, 168);
    margin-left: 10px;
}
.right{
    text-align: right;
    margin-left: 320px;
}
/* 2st section end */
/* 3rd section Start */
.third-section{
    background-color: rgb(54, 54, 90)
}
.button{
    background-color: rgb(66, 66, 94);
    margin-left: 23px;
}
.home{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* 3rd section End */
.four-section{
    background-color: rgb(54, 54, 90)
}

.cancle{
    margin-right: 10px;
}
.nav-link{
    background-color: rgb(66, 66, 94); ;
}




